**/Copy of mass/**
**/mass/files/**
**/mass_old/**
**/old/**
**/vendor/**
*.log
*.rar
*.zip
.lighttpd.conf
bb/**
cnccommons_all_files/**
confs/OAuthConfig.ini
confs/OAuthConfig_commons.ini
croptool/**
floder.all/**
floder/**
**/multilog/**
nccroptool2/**
node_modules/**
public_html/flickr2commons/
public_html/index_old.html
public_html/js/app-a7add89014.js
public_html/mass/js/a.js
public_html/mass2/**
public_html/multi1/**
public_html/c2ncc/
public_html/scripts.js
public_html/test4/**
ta2.js
vendor/**