**/Copy of mass/**
**/mass/files/**
**/mass_old/**
**/old/**
**/vendor/**
*.log
*.rar
*.zip
.lighttpd.conf
bb/**
cnccommons_all_files/**
confs/OAuthConfig.ini
confs/OAuthConfig_commons.ini
croptool/**
floder.all/**
floder/**
multilog/**
nccroptool2/**
node_modules/**
public_html/flickr2commons
public_html/index_old.html
public_html/js/app-a7add89014.js
public_html/mass/js/a.js
public_html/mass2
public_html/mass2/files
public_html/multi/multilog/**
public_html/multi1
public_html/multi2/multilog/**
public_html/ncc_to_c/jobs
public_html/ncc_to_cx
public_html/scripts.js
public_html/test4/**
ta2.js
test4/**
vendor/**