{
    auto_https disable_redirects
}

nccroptool.toolforge.org {
    tls internal

    # Enable static file server
    root * /nccroptool/public_html
    file_server

    # Serve PHP through php-fpm:
    rewrite /api/* /backend.php
    php_fastcgi * phpfpm:9000
}
